.main-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main-article {
  display: flex;
  gap: 1rem;
  justify-content: space-evenly;
  justify-content: space-evenly;
}

.highlight {
  display: flex;
  flex-direction: row;
}

.form-grouping {
  display: flex;
  flex-direction: column;
  padding: 4px;
}

.input-control {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #e0e0e0;
  font-size: 14px;
}

.dropdown {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #e0e0e0;
  font-size: 14px;
}

.button {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #e0e0e0;
  font-size: 16px;
  background-color: #303030;
  color: #f0f0f0;
  margin-top: 1rem;
}

.container-banner {
  display: block;
}

label {
  color: black;
}

h1 {
  color: black;
}

h2 {
  color: black;
}

.main-navbar {
  display: flex;
  padding: 10px;
}

.navbar {
  color: black;
  text-decoration: none;
  border: 1px solid;
  padding: 10px;
}

.main-article-header {
  text-align: center;
}

header,
main {
  margin: 32px;
}

.contact-us-container {
  padding: 1rem;
  background-color: #d5d5d5;
}

.banner-autoslide {
  height: 250px;
  background-image: url(https://picsum.photos/500);
  background-position: center;
  background-size: cover;
}

.our-package-header {
  text-align: center;
}

.package-deals-content {
  text-align: center;
}

footer {
  text-align: center;
}
